@import './theme/dark.css';
@import './theme/light.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainPage{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(125, 115, 115);
  justify-content: center;
  margin-bottom: 15px;
}
.navLink{
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 0.8px;
}
.button {
  background-color: rgb(47, 139, 136);
  color: var(--text-color);
  width: 200px;
  margin: 20px 0;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  right: 25px;
  font-weight: 700;
  border: 0;
}
.pokemonCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}
.showCount{
  display: flex;
  margin: 5px;
  align-items: center;
  
}
.showCount select {
  margin-left: 10px;
  width: 100px;
  height: 25px;
  border-radius: 15px;
  background-color: rgb(108, 160, 160);
  color:var(--text-color);
  font-weight: 700;
  text-align: center;
}
.showCount option{
  font-weight: 700;
}
.pokemon{
  width: 120px;
  height: 180px;
  background-color: rgb(108, 160, 160);
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.pokemonCard{
  text-decoration: none;
  color:var(--text-color);
}
.pokemonCardImg{
  width: 100px;
  height: 100px;
}
.pogination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
}
.pogination button{
  margin: 0 20px;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  border: 0;
  font-weight: 700;
  background-color: rgb(108, 160, 160);
}
.pokemonInfo{
  display: flex;
  width: 80%;
}
.imgInfo{
  width: 200px;
  margin-bottom: 10px;
}
.stats{
  margin-top: 10px;
}
.description{
  margin: 0 100px;
  width: 2500px
}
.description p{
  margin: 1px;
  font-size: 15px;
  font-weight: 400;
}
.description h3{
  margin-bottom: 8px;
}
